/* Start Variables */
:root {
    --Border-Red: hsl(0, 78%, 62%);
    --Border-Cyan: hsl(180, 62%, 55%);
    --Border-Orange: hsl(34, 97%, 64%);
    --Border-Blue: hsl(212, 86%, 64%);
    --Heading-Color: hsl(234, 12%, 34%);
}
/* End Variables */
* {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    margin: 0 auto;
    width: 75vw;
}
@media (max-width: 767px) {
    main {
        margin: 100px auto;
        width: 80vw;
    }
}
header {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    margin: 0;
    font-weight: 200;
    font-size: 34px;
    color: var(--Heading-Color);
}
header h2 {
    margin: 0;
    font-weight: 600;
    font-size: 34px;
    color: var(--Heading-Color);
}
header p {
    width: 45%;
    margin: 10px 0 45px;
    line-height: 1.7;
}
@media (max-width: 767px)  {
    header h1,
    header h2 {
        font-size: 24px;
    }
    header p {
        width: 100%;
        margin: 10px 0 75px;
    }
}
section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
}
@media (max-width: 767px) {
    section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 30px;
    }
}
section .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .col .card {
    width: 23vw;
    height: fit-content;
    padding: 20px;
    box-shadow: 0px 13px 20px -5px hsl(234deg 12% 34% / 20%);
    display: flex;
    flex-direction: column;
}
@media (max-width: 767px) {
    section .col .card {
        width: 100%;
        height: 28vh;
    }
}
@media (min-width: 1400px) {
    section .col .card {
        height: 26vh;
    }
}
section .col:nth-child(1) .card {
    border-top: 4px solid var(--Border-Cyan);    
}
section .col:nth-child(2) .card:nth-child(1) {
    border-top: 4px solid var(--Border-Red);
    margin-bottom: 30px;
}
section .col:nth-child(2) .card:nth-child(2) {
    border-top: 4px solid var(--Border-Orange);    
}
section .col:nth-child(3) .card {
    border-top: 4px solid var(--Border-Blue);    
}
section .card h1 {
    font-size: 19px;
    margin: 0 0 10px;
    color: var(--Heading-Color);
}
section .card p {
    margin: 0 0 20px;
}
section .card .image {
    min-height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
section .card .image img {
    width: 65px;
}